
h2 {
  color: blue;
  line-height: 3px;
}

.navbar button {
  color: white;
  background-color: #4CAF50;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

#back-btn {
  height: 25px;
  width: 60px;
  text-align: center;
  font-size: 15px;
  background-color: black;
  color: white;
  cursor: pointer;
  margin: 10px 10px;
}

#back-btn:hover {
  background-color: #45a049;
}

container {
  width: 100%;
  border: 1px solid black;
  padding: 50px;
  margin: 20px;
  position: relative;
}



footer {
  border-top: 12px double black;
}