html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(228, 228, 235);
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  height: 50px;
  display: block;
  border-bottom: 12px double black;
}

#toggle-btn {
  display: block;
  padding: 5px;
  height: 35px;
  margin-top: -3px;
  cursor: pointer;
  float: right;
}

#back-btn {
  height: 30px;
  width: 90px;
  text-align: center;
  font-size: 15px;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 5px;
  float: right;
}

#back-btn:hover {
  background-color: #45a049;
}

.dark-mode {
  background-color: black;
  color: white;
}
