html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(228, 228, 235);
  font-family: Arial, sans-serif;
}

.navbar {
  height: 50px;
  border-bottom: 12px double black;
}

#toggle-btn {
  display: block;
  padding: 5px;
  height: 35px;
  margin-top: -5px;
  float: right;
}
